<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path=""
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>MiFi | Secure File Storage</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="logo.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="/vendor/css/coreMin.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/vendor/css/pages/page-auth.css" />
    <script src="/vendor/js/helpers.js"></script>
</head>

<body>
    <center>
        <div class="container-xxl container-p-y">
            <div class="misc-wrapper">
                <h2 class="mb-2 mx-2">404 Page Not Found :(</h2>
                <p class="mb-4 mx-2">Oops! 😖 Requested URL is not valid.</p>
                <a href="/" class="btn btn-primary">Back to home</a>
                <div class="mt-3">
                    <img src="/img/illustrations/noAccess.png" alt="page-misc-error-light" width="500"
                        class="img-fluid" data-app-dark-img="illustrations/noAccess.png"
                        data-app-light-img="illustrations/noAccess.png" />
                </div>
            </div>
            <div class="mb-2 mb-md-0"> ©
                <script>
                    document.write(new Date().getFullYear());
                </script>, made with ❤️ by <a href="https://mifi.eu.org" target="_blank"
                    class="footer-link fw-bolder">Mifi</a>
            </div>
        </div>
    </center>
</body>

</html>