<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path=""
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>MiFi | Secure File Storage</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="logo.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="vendor/css/coreMin.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="vendor/css/pages/page-auth.css" />
    <script src="vendor/js/helpers.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="logo.png" style="width: 70px;" alt="logo" class="img-fluid" />
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder">MiFi</span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <div class="spinner-border centerXMS spinner-border-sm text-primary m-0 hide" role="status"></div>
                        <form id="formAuthentication" class="mb-3" onsubmit="return false;">
                            <div class="mb-3">
                                <label for="email" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Enter your username" autofocus autocomplete="true" />
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Password</label>
                                    <a tabindex="1" href="auth-forgot-password-basic.html">
                                        <small>Forgot Password?</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" autocomplete="true"/>
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <span class="small" id="loginError"></span>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100 mt-2" type="submit">Sign in</button>
                            </div>
                        </form>

                        <p class="text-center">
                            <span>New on our platform?</span>
                            <a href="/register">
                                <span>Create an account</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="vendor/libs/jquery/jquery.js"></script>
    <script src="js/main.js"></script>

    <script>

        $('#formAuthentication').submit(loginuser);
        ee = "";
        lastClicked = 0;
        function loginuser(form) {
            $(".spinner-border").addClass("show")
            $('#loginError').html('');
            if((Date.now()-lastClicked)/1000 < 30) return;
            lastClicked = Date.now();
            var email = $('#username')[0].value;
            var password = $('#password')[0].value;

            if(email.length < 5) {
                $('#loginError').html('Please enter valid username');
                return;
            }

            if(password.length < 8) {
                $('#loginError').html('Password must be atleast 8 characters');
                return;
            }

            var data = {
                user: email,
                password: password
            };
            fetch('/app/auth/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then((data)=>{
                lastClicked = 0;
                $(".spinner-border").removeClass("show")
                if(data == null) {
                    $('#loginError').text('Invalid Response from Server');
                }
                else{
                    if(data.redirected){
                        window.location.reload();
                        return false;
                    }
                    data.json().then(data => {
                        if (data.status == 'success') {
                            window.location.href = '/home';
                        } else {
                            $('#loginError').html(data.error);
                        }
                    });
                }
            }).catch(e=>{
                lastClicked = 0;
                $(".spinner-border").removeClass("show")
                $('#loginError').html(e);
            });
            
            return false;
        }
    </script>
</body>

</html>