<!DOCTYPE html>

<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path=""
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Register | MiFi</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="logo.png" />

    <!-- Fonts -->
    <link rel="stylesheet" href="vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="vendor/css/coreMin.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="vendor/css/pages/page-auth.css" />
    <script src="vendor/js/helpers.js"></script>
</head>

<body>

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="logo.png" style="width: 70px;" alt="logo" class="img-fluid">
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder">MiFi</span>
                            </a>
                        </div>

                        <form id="formAuthentication" onsubmit="return false;" class="mb-3">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Enter your username" autofocus />
                            </div>                            
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Profile Image</label>
                                <input type="file" class="form-control" id="file" name="file" placeholder="Select your profile picture" />
                            </div>     
                            <div class="mb-3">
                                <span class="small" id="loginError"></span>
                            </div>
                            <button class="btn btn-primary d-grid w-100">Sign up</button>
                        </form>

                        <p class="text-center">
                            <span>Already have an account?</span>
                            <a href="/">
                                <span>Sign in instead</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </div>


    <!-- build:js assets/vendor/js/core.js -->
    <script src="vendor/libs/jquery/jquery.js"></script>
    <script src="js/main.js"></script>

    <script>

        $('#formAuthentication').submit(loginuser);
        ee = "";
        function loginuser(form) {
            var email = $('#username')[0].value;
            var password = $('#password')[0].value;

            if (email.length < 5) {
                $('#loginError').html('Please enter valid username');
                return;
            }

            if (password.length < 8) {
                $('#loginError').html('Password must be atleast 8 characters');
                return;
            }

            var data = {
                user: email,
                password: password
            };
            fetch('/app/auth/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then((data) => {
                if (data == null) {
                    $('#loginError').text('Invalid Response from Server');
                }
                else {
                    if (data.redirected) {
                        window.location.reload();
                        return false;
                    }
                    data.json().then(data => {
                        if (data.status == 'success') {
                            window.location.href = '/home';
                        } else {
                            $('#loginError').html(data.error);
                        }
                    });
                }
            });

            return false;
        }
    </script>
</body>

</html>